body {
  font-family: 'Cairo', Arial, sans-serif;
  background: #f4f6fb;
  margin: 0;
  direction: rtl;
}

main {
  padding: 0;
}

@media (max-width: 750px) {
  aside {
    width: 65px !important;
    min-width: 65px;
  }
  aside nav a span,
  aside > div:first-child,
  aside > div:last-child {
    display: none !important;
  }
}

table {
  border-collapse: collapse;
}
td, th {
  border-bottom: 1px solid #eee;
  padding: 8px 6px;
}
table th {
  background: #e7ecfa;
  color: #286090;
}
